<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/@inkline/inkline/dist/inkline.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
        <script src="https://unpkg.com/@vuex-orm/core"></script>
        <script src="https://cdn.jsdelivr.net/npm/@inkline/inkline/dist/inkline.js"></script>
        <script src="/js/vueTest.js" type="text/javascript"></script>
        <style>
            .nodeSelected {
                background-color: skyblue;
            }
            .tree-root li .tree-item:nth-of-type(even){
                background: #e0e0e0;
            }
            .nodeClosed {
                display: none;
            }
            .tree-item {
                transition: 0.3s;
            }
            .tree-item:hover {
                background-color: lightblue;
            }
            .testModalClass > div > div {
                height: 80%;
                overflow-y: scroll;
            }
            .testModalClass > div > div > div.body {
                height: 100%;
            }
            .formStyles {
                height: 100%;
                //overflow-y: scroll;

            }
        </style>
    </head>
    <body>
        <div id="spent">
            <i-container class="_margin-0 _padding-0 _max-width-100">
                <!--i-row>
                    <i-column xs="12">
                        <i-alert variant="info">
                            <template slot="icon"><i-icon icon="info"></i-icon></template>
                            <p>Some quick example text to build on the alert title and make up the bulk of the alert's content.</p>
                        </i-alert>
                    </i-column>
                </i-row-->
                <i-row>
                    <i-column xs="12">
                        <i-navbar :collapse="false">
                            <i-navbar-brand>SPENT</i-navbar-brand>
                            <i-navbar-items class="_justify-content-center">
                                <i-nav>
                                    <!--i-nav-item>Save</i-nav-item-->
                                    <i-button-group>
                                        <!--i-button variant="primary" @click="showBucketTableModal = true">Manage Buckets</i-button-->
                                        <i-button variant="primary" @click="showTransactionFormModal = true; selectedTrans = null">New Transaction</i-button>
                                        <!--i-button variant="primary">Transaction Filter</i-button-->
                                        <i-button :variant="clickModeToggle ? 'primary' : 'danger'" @click="clickModeToggle = !clickModeToggle">{{ clickModeToggle ? "Edit Mode" : "Delete Mode"}}</i-button>
                                    </i-button-group>
                                </i-nav>
                            </i-navbar-items>
                        </i-navbar>
                    </i-column>
                </i-row>
                <i-row>
                    <i-column xs="3">
                        <i-row>
                            <i-column xs="12">
                                <table bordered style="width: 100%" v-if="selectedBucket">
                                    <thead>
                                        <th></th>
                                        <th>Posted</th>
                                        <th>Available</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Current</th>
                                            <td><currency-display :balance-obj="selectedBucket.postedBalance"></currency-display></td>
                                            <td><currency-display :balance-obj="selectedBucket.availableBalance"></currency-display></td>
                                        </tr>
                                        <tr>
                                            <th>Tree</th>
                                            <td><currency-display :balance-obj="selectedBucket.postedTreeBalance"></currency-display></td>
                                            <td><currency-display :balance-obj="selectedBucket.availableTreeBalance"></currency-display></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div v-else>
                                    Loading Balances
                                </div>
                            </i-column>
                        </i-row>
                        <i-row>
                            <i-column xs="12">
                                <i-button-group>
                                    <i-button variant="primary" @click="showBucketFormModal = true"><i-icon icon="plus" /><i-icon icon="file" /></i-button>
                                    <i-button variant="primary" @click="showAccountFormModal = true"><i-icon icon="plus" /><i-icon icon="folder" /></i-button>
                                </i-button-group>
                                <i-button-group>
                                    <i-button :variant="showTree ? 'primary' : 'secondary'" @click="showTree = !showTree">{{ showTree ? "Tree" : "Local"}}</i-button>
                                    <i-button :variant="clickModeToggle2 ? 'primary' : 'danger'" @click="clickModeToggle2 = !clickModeToggle2">{{ clickModeToggle2 ? "Select Mode" : "Edit Mode"}}</i-button>
                                </i-button-group>
                            </i-column>
                        </i-row>
                        <i-row>
                            <i-column xs="12">
                                <tree-view class="item" :nodes="buckets" :selectednode="selectedBucketID" @node-click="(id) => selectedBucketID = id"></tree-view>
                            </i-column>
                        </i-row>
                    </i-column>
                    <i-column xs="9">
                        <!--i-row>
                            <i-column>
                                <i-nav>
                                    <i-button-group>
                                        <i-button variant="primary" @click="onNewTransactionClick">New Transaction</i-button>
                                        <i-button variant="primary" @click="onNewBucketClick">New Bucket</i-button>
                                        <--i-button variant="primary">Transaction Filter</i-button>
                                        <i-button :variant="clickModeToggle ? 'primary' : 'danger'" @click="clickModeToggle = !clickModeToggle">{{ clickModeToggle ? "Edit Mode" : "Delete Mode"}}</i-button>
                                    </i-button-group>
                                </i-nav>
                            </i-column>
                        </i-row-->
                        <i-row>
                            <i-column>
                                <i-datatable v-show="transactions.length > 0" hover border striped :columns="transactionColumns" :rows="transactions" :pagination="false" :count-column="false" @tr-click="onTransTableRowClick"></i-datatable>
                                <p v-show="transactions.length == 0">No Transactions</p>
                            </i-column>
                        </i-row>
                    </i-column>
                </i-row>
                <i-row><i-column xs="12">Footer</i-column></i-row>
            </i-container>
            <div>
                <i-modal v-model="showTransactionFormModal" class="testModalClass">
                    <template slot="header">Edit Transaction</template>
                    <transaction-form :form-object="selectedTrans" :type-options="typeOptions" :status-options="statusOptions" :bucket-options="buckets" @form-submit="onFormSubmit" class="formStyles"></transaction-form>
                    <!--template slot="footer">Modal Footer</template-->
                </i-modal>
                <i-modal v-model="showBucketFormModal">
                    <template slot="header">Edit Bucket</template>
                    <bucket-form :form-object="selectedBucket" :bucket-options="buckets" :account-options="accounts" @form-submit="onFormSubmit"></bucket-form>
                    <!--template slot="footer">Modal Footer</template-->
                </i-modal>
                <i-modal v-model="showAccountFormModal">
                    <template slot="header">Edit Account</template>
                    <account-form :form-object="selectedBucket" @form-submit="onFormSubmit"></account-form>
                    <!--template slot="footer">Modal Footer</template-->
                </i-modal>
            </div>
        </div>
        <script type="text/javascript">
            bootstrapSPENT();
        </script>
    </body>
</html>