<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/@inkline/inkline/dist/inkline.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
        <script src="https://unpkg.com/@vuex-orm/core"></script>
        <script src="https://cdn.jsdelivr.net/npm/@inkline/inkline/dist/inkline.js"></script>
        <script src="/js/vueTest.js" type="text/javascript"></script>
        <style>
            .nodeSelected {
                background-color: skyblue;
            }
            .tree-root li .tree-item:nth-of-type(even){
                background: #e0e0e0;
            }
            .nodeClosed {
                display: none;
            }
            .tree-item {
                transition: 0.3s;
            }
            .tree-item:hover {
                background-color: lightblue;
            }
        </style>
    </head>
    <body>
        <div id="spent">
            <i-container class="_margin-0 _padding-0 _max-width-100">
                <!--i-row>
                    <i-column xs="12">
                        <i-alert variant="info">
                            <template slot="icon"><i-icon icon="info"></i-icon></template>
                            <p>Some quick example text to build on the alert title and make up the bulk of the alert's content.</p>
                        </i-alert>
                    </i-column>
                </i-row-->
                <i-row>
                    <i-column xs="12">
                        <i-navbar :collapse="false">
                            <i-navbar-brand>SPENT</i-navbar-brand>
                            <i-navbar-items class="_float-right">
                                <i-nav>
                                    <i-nav-item href="" @click="showBucketTableModal = true">Manage Buckets</i-nav-item>
                                    <i-nav-item>Save</i-nav-item>
                                </i-nav>
                            </i-navbar-items>
                        </i-navbar>
                    </i-column>
                </i-row>
                <i-row>
                    <i-column xs="3">
                        <i-row>
                            <i-column xs="12">
                                <table bordered style="width: 100%" v-if="selectedBucket">
                                    <thead>
                                        <th></th>
                                        <th>Posted</th>
                                        <th>Available</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Current</th>
                                            <td>{{ selectedBucket.postedBalance ? selectedBucket.postedBalance.value : "$-0.00" }}</td>
                                            <td>{{ selectedBucket.availableBalance ? selectedBucket.availableBalance.value : "$-0.00" }}</td>
                                        </tr>
                                        <tr>
                                            <th>Tree</th>
                                            <td>{{ selectedBucket.postedTreeBalance ? selectedBucket.postedTreeBalance.value : "$-0.00" }}</td>
                                            <td>{{ selectedBucket.availableTreeBalance ? selectedBucket.postedTreeBalance.value : "$-0.00" }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div v-else>
                                    Loading Balances
                                </div>
                            </i-column>
                        </i-row>
                        <i-row>
                            <i-column xs="12">
                                <tree-view class="item" :nodes="buckets" :selectednode="selectedBucketID" @node-click="(id) => this.selectedBucketID = id"></tree-view>
                                <!--i-datatable hover striped :columns="accountTreeColumns" :rows="treeBuckets" :pagination="false" :filtering="false" :count-column="false" @tr-click="onSelAcc"></i-datatable-->
                            </i-column>
                        </i-row>
                    </i-column>
                    <i-column xs="9">
                        <i-row>
                            <i-column>
                                <i-nav>
                                    <i-button variant="primary" @click="onNewTransactionClick">New Transaction</i-button>
                                    <i-button variant="primary" @click="onNewBucketClick">New Bucket</i-button>
                                    <i-button variant="primary">Transaction Filter</i-button>
                                    <i-button variant="primary" @click="requestChanges">Refresh</i-button>
                                </i-nav>
                            </i-column>
                        </i-row>
                        <i-row>
                            <i-column>
                                <i-datatable hover border striped :columns="transactionColumns" :rows="transactions" :pagination="false" :count-column="false" @tr-click="onTransTableRowClick"></i-datatable>
                            </i-column>
                        </i-row>
                    </i-column>
                </i-row>
                <i-row><i-column xs="12">Footer</i-column></i-row>
            </i-container>
            <div>
                <i-modal v-model="showTransactionFormModal">
                    <template slot="header">Edit Transaction</template>
                    <transaction-form :form-schema="transSchema" @form-submit="onFormSubmit"></transaction-form>
                    <!--template slot="footer">Modal Footer</template-->
                </i-modal>
                <i-modal v-model="showBucketFormModal">
                    <template slot="header">Edit Bucket</template>
                    <bucket-form :form-schema="bucketSchema" @form-submit="onFormSubmit"></bucket-form>
                    <!--template slot="footer">Modal Footer</template-->
                </i-modal>
                <i-modal v-model="showBucketTableModal">
                    <template slot="header">Manage Accounts</template>
                    <i-tabs>
                        <i-tab title="Accounts">
                            <i-datatable hover border striped :columns="bucketColumns" :rows="accounts" :pagination="false" :count-column="false" @tr-click="onBucketTableRowClick"></i-datatable>
                        </i-tab>
                        <i-tab title="Buckets">
                            <i-datatable hover border striped :columns="bucketColumns" :rows="buckets" :pagination="true" :count-column="false" @tr-click="onBucketTableRowClick"></i-datatable>
                        </i-tab>
                    </i-tabs>
                    <!--template slot="footer">Modal Footer</template-->
                </i-modal>
            </div>
        </div>
        <script type="text/javascript">
            bootstrapSPENT();
        </script>
    </body>
</html>