<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/@inkline/inkline/dist/inkline.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuex@3.5.1/dist/vuex.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@inkline/inkline/dist/inkline.js"></script>
        <style>
            .nodeSelected {
                background-color: lightblue;
            }
        </style>
    </head>
    <body>
        <div id="spent">
            <i-container class="_margin-0 _padding-0 _max-width-100">
                <!--i-row>
                    <i-column xs="12">
                        <i-alert variant="info">
                            <template slot="icon"><i-icon icon="info"></i-icon></template>
                            <p>Some quick example text to build on the alert title and make up the bulk of the alert's content.</p>
                        </i-alert>
                    </i-column>
                </i-row-->
                <i-row>
                    <i-column xs="12">
                        <i-navbar :collapse="false">
                            <i-navbar-brand>SPENT</i-navbar-brand>
                            <i-navbar-items>
                                <i-nav>
                                    <i-dropdown>
                                        <i-button>Menu</i-button>
                                        <i-dropdown-menu>
                                            <i-dropdown-item>Manage Buckets</i-dropdown-item>
                                            <i-dropdown-item>Manage Transaction Groups</i-dropdown-item>
                                            <i-dropdown-divider />
                                            <i-dropdown-item>Save</i-dropdown-item>
                                        </i-dropdown-menu>
                                    </i-dropdown>
                                </i-nav>
                            </i-navbar-items>
                        </i-navbar>
                    </i-column>
                </i-row>
                <i-row>
                    <i-column xs="3">
                        <i-row>
                            <i-column xs="12">
                                <p>Balance: </br>{{ bucketATB }} : {{ bucketPTB }} : {{ bucketAB }} : {{ bucketPB }}</p>
                            </i-column>
                        </i-row>
                        <i-row>
                            <i-column xs="12">
                                <tree-view class="item" :nodes="accountTree" :selectednode="selectedBucketID" @node-click="handleNodeClick"></tree-view>
                            </i-column>
                        </i-row>
                    </i-column>
                    <i-column xs="9">
                        <i-row>
                            <i-column>
                                <i-nav>
                                    <i-button variant="primary" @click="transactionForm.visible = true">New Transaction</i-button>
                                    <i-button variant="primary">Transaction Filter</i-button>
                                    <i-button variant="primary" @click="requestChanges">Refresh</i-button>
                                </i-nav>
                            </i-column>
                        </i-row>
                        <i-row>
                            <i-column>
                                <i-datatable hover border striped :columns="transactionColumns" :rows="transactions" :pagination="false" :count-column="false"></i-datatable>
                            </i-column>
                        </i-row>
                    </i-column>
                </i-row>
                <i-row><i-column xs="12">Footer</i-column></i-row>
            </i-container>
            <div>
                <i-modal v-model="transactionForm.visible">
                    <template slot="header">Modal Header</template>
                        <i-form>
                            <i-form-group>
                                <i-form-label>Status</i-form-label>
                                <i-select v-model="transactionForm.status" placeholder="Choose an option">
                                    <i-select-option value="a" label="Option A" />
                                    <i-select-option value="b" label="Option B" />
                                    <i-select-option value="c" label="Option C" disabled />
                                </i-select>
                            </i-form-group>

                            <i-form-group>
                                <i-form-label>Date</i-form-label>
                                <i-input v-model="transactionForm.date" placeholder="Type something.." />
                            </i-form-group>

                            <i-form-group>
                                <i-form-label>Post Date</i-form-label>
                                <i-input v-model="transactionForm.postDate" placeholder="Type something.." />
                            </i-form-group>

                            <i-form-group>
                                <i-form-label>Amount</i-form-label>
                                <i-input-number v-model="transactionForm.amount" :precision="2" placeholder="Type something.." />
                            </i-form-group>

                            <i-form-group>
                                <i-form-label>Source Bucket</i-form-label>
                                <i-select v-model="transactionForm.sourceBucket" placeholder="Choose an option">
                                    <i-select-option value="a" label="Option A" />
                                    <i-select-option value="b" label="Option B" />
                                    <i-select-option value="c" label="Option C" disabled />
                                </i-select>
                            </i-form-group>

                            <i-form-group>
                                <i-form-label>Destination Bucket</i-form-label>
                                <i-select v-model="transactionForm.destBucket" placeholder="Choose an option">
                                    <i-select-option value="a" label="Option A" />
                                    <i-select-option value="b" label="Option B" />
                                    <i-select-option value="c" label="Option C" disabled />
                                </i-select>
                            </i-form-group>

                            <i-form-group>
                                <i-form-label>Memo</i-form-label>
                                <i-textarea v-model="transactionForm.memo" placeholder="Write a comment.." />
                            </i-form-group>

                            <i-form-group>
                                <i-form-label>Payee</i-form-label>
                                <i-input v-model="transactionForm.payee" placeholder="Type something.." />
                            </i-form-group>

                            <i-form-group>
                                <i-button type="submit">Submit</i-button>
                            </i-form-group>
                        </i-form>
                    <!--template slot="footer">Modal Footer</template-->
                </i-modal>
            </div>
        </div>
        <script src="/js/vueTest.js" type="text/javascript"></script>
    </body>
</html>